# ignore these files and folders


# ignore all bd sources except .bd file itself
*/bd/*/*
!*/bd/*/*.bd

# ignore all vivado folders except vivado project
*/vivado/*
!*/vivado/*.xpr

# ignore all python IDE files
/.idea
